node_modules
coverage
docker
tools
Dockerfile*
README.md
LICENSE
.vscode
.dockerignore
.git
.gitignore

.firebase
.github
resources
tools
.editorconfig
.eslintrc.json
.firebaserc
.lintstagedrc
.prettierignore
.prettierrc
debug.log
decorate-angular-cli.js
jest.config.js
jest.preset.js
migrations.json
README.md
ui-debug.log
workspace.code-workspace
