export * from "./<%= singular(dasherize(name)) %>.model";
export * from "./<%= dasherize(name) %>.query";
export * from "./<%= dasherize(name) %>.service";
export { <%= classify(name) %>State, <%= classify(name) %>Store } from "./<%= dasherize(name) %>.store";
