import { Injectable } from "@angular/core";
import { tap } from "rxjs/operators";
import { of } from "rxjs";
import { <%= classify(name) %>Store } from "./<%= dasherize(name) %>.store";

@Injectable({ providedIn: "root" })
export class <%= classify(name) %>Service {

  constructor(
    private <%= camelize(name) %>Store: <%= classify(name) %>Store,
  ) {
  }

  get() {
    return of([]).pipe(tap(entities => this.<%= camelize(name) %>Store.update(entities)));
  }

}
